
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

button {
  background-color: #929497;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  font-weight: lighter;
  height: 35px;
  /*margin-left: 30px;*/
  padding: 0px;
  text-align: center;
  width:  200px;
}

button:disabled {
  background: #D0D2D3;
}

button:focus {
  outline:0;
}

fieldset {
  margin: 20px;
  left: 40%;
  width: 450px;
}

h1 {
  display: inline;
  text-align: center;
  vertical-align: middle;
}

label {
  display: inline-block;
}


main {
 display: block;
 font-size: 30px;
 }

nav {
  background-color: #404041;
  color: #ED458B;
  display: block;
  font-size: 40px;
  height: 25%;
  margin: -8px;
  text-align: center;
  vertical-align: middle;
  width: 110%;
}


#adjustButton {
  margin-left: 10px;
  margin-top: 20px;
}

#adjustButton:hover:disabled {
  background: #D0D2D3;
 }

#adjustRange:hover {
  background-color: #EB008B;
  border-radius: 30px;
  color: #FFFFFF;
}

#clearButton {
  margin-left: 80px;
}

#clearButton:hover {
  background-color: #EB008B;
  border-radius: 30px;
  color: #FFFFFF;
}

#clearButton:hover:disabled {
  background: #D0D2D3;
 }

/*#guessButton {
  margin-left: 90px;
}*/

#guessButton:hover {
  background-color: #EB008B;
  border-radius: 30px;
  color: #FFFFFF;
}

#guessButton:hover:disabled {
  background: #D0D2D3;
 }

#guessReadBack {
  color: #ED458B;
  font-size: 70px;
  font-weight: lighter;
}

#guesserWord {
  color: #E6E7E8;
  font-weight: lighter;
}

#inputField {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  height: 35px;
  margin: 5% 0% 5% 6%;
  width: 34.5%;
}

#lastGuessText {
 padding: 20px; 
}
/*
#lowerHalf {
  left: 440px;
  position: absolute;
  top: 75%;
}*/

#min, #max {
  display: inline;
  font-size: 27px;
  height: 33px;
  width: 70px;
}

#resetButton {
  display: block;
  margin-top: 5%;
}


#resetButton:hover {
  background-color: #EB008B;
  border-radius: 30px;
  color: #FFFFFF;
}

#resetButton:hover:disabled {
  background: #D0D2D3;
 }

